    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba( 0, 0, 0, 0.2)),url(../img/report.jpg) no-repeat center;
    /* width: 100vw; */
    background-size: cover;
    height: 100vh;
}
    nav{
    height: 48px;
}
   
    /* .nav-pills .active {
    background-color: gray !important;
  } */
 
  .report-1{
    height: 250px;
    width: 500px;
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 15px 7px 14px 1px rgba(0,0,0,0.75);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba( 0, 0, 0, 0.3));
}
    .report-2{
    height: 500px;
    width: 800px;
    border-radius: 20px;
    display: none;
    box-shadow: 15px 7px 14px 1px rgba(0,0,0,0.75);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba( 0, 0, 0, 0.4));
}
    .report-2 .btn{
    border-radius: 20px;
}

    .report-final{
    height: 500px;
    width: 950px;
    /* border: 1px solid rgb(156, 156, 156); */
    border-radius: 20px;
    display: none;
    box-shadow: 15px 7px 14px 1px rgba(0,0,0,0.75);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba( 0, 0, 0, 0.4));
    
}
    .village{
    height: 30px;
    width: 300px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba( 0, 0, 0, 0.3));;
    border: 0.3px solid  rgb(156, 156, 156);
    
}
    .result-container{
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid  rgb(182, 182, 182) ;
    border-radius: 20px;
    background-color: transparent;
}

    .select_box{
    width: 200px;
    overflow: hidden;
    /* border: 1px solid #000; */
    position: relative;
    /* padding: 10px 0; */
}
  .select_box:after{
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
    position: relative;
    outline: none;
    bottom: 15px;
    left: 85%;
    content: "";
    z-index: 98;
}
  .select_box select{
    width: 220px;
    border: 0;
    position: relative;
    z-index: 99;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba( 0, 0, 0, 0.4));
}
  .form-select:focus {
    border: none !important; 
    outline: none !important;
    box-shadow: none !important;
}
    .view{
    display: block;
}
    .personal .btn:focus{
    outline: none;
    box-shadow: none;
}
    .personal .btn:hover{
    color:white ;
}
    .personal .dropstart-toggle::after {
    content: none;
}
    .personal ul li{
    align-items: center;
    border-top:0px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 10px 0px;
}
    .personal ul li a{
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}
    .personal ul li:hover a{
    color:#ff00ff;
}
.personal .btn:focus{
    outline: none;
    box-shadow: none;
}
.personal .btn:hover{
    color:white ;
}
.personal .dropstart-toggle::after {
    content: none;
}
.personal ul li{
    align-items: center;
    border-top:0px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 10px 0px;
}
.personal ul li a{
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}
    .personal ul li:hover a{
    color:#ff00ff;
}

