html{
    height: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    padding-top: 35vh ;
    background:linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba( 0, 0, 0, 0.2)),url(../img/report.jpg) no-repeat center;
    background-size: cover;
}

nav{
    height: 48px;
}
.report-1{
    margin: auto;
    height: 250px;
    width: 500px;
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 15px 7px 14px 1px rgba(0,0,0,0.75);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba( 0, 0, 0, 0.3));
}
  .report-2{
     margin: auto;
    height: 500px;
    width: 800px;
    border-radius: 20px;
    display: none;
    box-shadow: 15px 7px 14px 1px rgba(0,0,0,0.75);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba( 0, 0, 0, 0.4));
}
    .report-2 .btn{
    border-radius: 20px;
}

    .report-final{
     margin: auto;
    height: 500px;
    width: 950px;
    border-radius: 20px;
    display: none;
    box-shadow: 15px 7px 14px 1px rgba(0,0,0,0.75);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba( 0, 0, 0, 0.4));
    
}
    .village{
    height: 30px;
    width: 300px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba( 0, 0, 0, 0.3));;
    border: 0.3px solid  rgb(156, 156, 156);
    
}
    .result-container{
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid  rgb(182, 182, 182) ;
    border-radius: 20px;
    background-color: transparent;
}

    .select_box{
    width: 200px;
    overflow: hidden;
    position: relative;
}
  .select_box:after{
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
    position: relative;
    outline: none;
    bottom: 15px;
    left: 85%;
    content: "";
    z-index: 98;
}
  .select_box select{
    width: 220px;
    border: 0;
    position: relative;
    z-index: 99;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba( 0, 0, 0, 0.4));
}
  .form-select:focus {
    border: none !important; 
    outline: none !important;
    box-shadow: none !important;
}
    .view{
    display: block;
}
    .personal .btn:focus{
    outline: none;
    box-shadow: none;
}
    .personal .btn:hover{
    color:white ;
}
    .personal .dropstart-toggle::after {
    content: none;
}
    .personal ul li{
    align-items: center;
    border-top:0px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 10px 0px;
}
    .personal ul li a{
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}
    .personal ul li:hover a{
    color:#ff00ff;
}
.personal .btn:focus{
    outline: none;
    box-shadow: none;
}
.personal .btn:hover{
    color:white ;
}
.personal .dropstart-toggle::after {
    content: none;
}
.personal ul li{
    align-items: center;
    border-top:0px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 10px 0px;
}
.personal ul li a{
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}
.personal ul li:hover a{
color:#ff00ff;
}
.logo{
    color:white; 
    font-size: 17px;
}
.personal button{
    display:block;
    background-color: rgb(78, 78, 143);
}
.personal li{
    border-top: 2px solid rgba(0,0,0,0.5); 
}

.divider{
    border-right:1px solid  rgb(113, 112, 112);
}

footer{
    height: 100px;
}

@media (min-width: 1440px){

    footer{
        height: 170px;
    }
}