body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  position: relative;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.head{
  height: 100vh;
  margin-top: 8vh;
}

.sub{
  display: flex;
  justify-content: center;
  align-items: center; 
 
  height: 90px; 
  width: 80%; 
  margin: auto; 
  margin-top: 10%;
}
.sub1{
  display: flex; 
  justify-content: center; 
  align-items: center; 

  padding-top: 10vh; 
  height: 20px;
  width: 80%; 
  margin: auto;
}
.sub3{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: none; 
  height: 60px; 
  width: 80%; 
  margin: auto;
  margin-top: 5%;
}

.sub4{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: blue; 
  

  width: 80%; 
  margin: auto;
}
.nav-height{
  height: 50px;
}

.leaf-bg{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url(' ../img/leaf.jpg') center top no-repeat;
  background-size: 100% 100%;
  /* background-image: url('../img/leaf.jpg') ; */
  /* width: 100vw;
  height: 100vh; */


}
 .S1 .btn{
  border: 8px solid rgb(156, 156, 156);
 
}
.S1 .btn-outline-brown:hover{
 background-color: black;
 
}
 .S3 .btn{
  border: 8px solid rgb(156, 156, 156);
  border-radius: 0;
 
}
.S3 .btn-outline-brown:hover{
 background-color: black;
 
}
.S5 .btn{
  border: 8px solid rgb(156, 156, 156);
  border-radius: 0;
 
}
.S5 .btn-outline-brown:hover{
 background-color: black;
 
}
.S3 .sub{
  display: flex;
  justify-content: center;
  align-items: center; 
 
  height: 90px; 
  width: 80%; 
  margin: auto; 
  margin-top: 15%;
}
.S5 .sub{
  display: flex;
  justify-content: center;
  align-items: center; 
 
  height: 90px; 
  width: 80%; 
  margin: auto; 
  margin-top: 16%;
}

.farmer-bg{
      background: linear-gradient(to right, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url(' ../img/farmer.jpg') center top no-repeat;
      background-size: 100% 100%;
      
  
}
.satellite-bg{
      background: linear-gradient(to right, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url(' ../img/satellite.jpg') center top no-repeat;
      background-size: 100% 100%;
      
}
.popup-login{
  height: auto;
  width:100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  /* padding: 0;
  margin: 0; */
  top: 0;
  /* left: 0; */
  /* right: 0; */
  bottom: 0;
  display: visible;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;

  

}
.m-nav {
    display: inline !important;
  }
  .navtext {
    color: rgb(232, 232, 235) !important;
  }
  .nav-pills .navbar-nav a:hover {
    background-color: gray !important;
  }
  .nav-pills .active {
    background-color: gray !important;
  }
  .nav-height{
    height: 50px;
  }
  .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: orange !important;
  }
  .pipe {
    color: white;
    border-right: 2px solid grey;
  }
  .line {
    border-top: 1px solid black;
  }
  .body-font {
    color: white;
  }
  .size{
    font-size: 10px;
  }
  .req {
    color: red;
  }
  .fontsize {
    font-size: 50px;
    color: rgb(252, 249, 249);
  }
  
  .fontsizeSub {
    font-size: 30px;
    color: rgb(252, 249, 249);
  }
  
  .blur{
    backdrop-filter: blur(10px);
  }
  .btn-outline-primary:hover{
    background-color: transparent;
  }
  .hand{
    width: 40px;
  }
  .message{
    width: 30px;
  }
  
  /* @media (min-width:576px){
    .test{
      margin: 0;
      padding: 0;
    }
  } */
  .search-height {
    height: 20vh
  }
  
  
  .search {
    position: relative;
    /* box-shadow: 0 0 40px rgba(51, 51, 51, .1) */
  }
  
  .search input {
    height: 60px;
    text-indent: 25px;
    /* border: 2px solid #d6d4d4 */
  }
  
  .search input:focus {
    box-shadow: none;
    border: 2px solid blue
  }
  
  .search .fa-search {
    position: absolute;
    top: 20px;
    right: 16px;
  }
  
  .search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue
  }
  .close{
    position: absolute;
    top: 0;
  }
  
  /* .edit .btn{
    border-width: 0;
  } */
  .icon{
    width: 20px;
    /* height: 30px; */
  }
  .form-control {
    /* margin-left: 40px; */
    /* max-width: 80%; */
    border-color: black;
  }
.bg {
    background-color: rgb(83, 75, 75);
  }
  .wrapper{
    background-color: white;
    display: flex;
    justify-content: center;
    width: 70%;
    height: 100vh;
    border-radius: 20px;
}
textarea{
    resize: none;
}
.width-mod{
    width: 75%;
}
.btn-mod{
    width: 30%;
}
.btn-outline-brown:hover{
    background-color: brown;
}
@media (max-width:900px){
     .wrapper{
        background-color:white;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 100%;
        border-radius: 0px;

    }   
    .width-mod{
        width: 90%;
    }
    .btn-mod{
        width: 95%;
    }
    .btn-outline-brown:hover{
        background-color: brown;
    }
    .sub{
      display: flex;
      justify-content: center;
      align-items: center; 
      background-color: none; 
      height: 90px; 
      width: 80%; 
      margin: auto; 
      margin-top: 20%;
  }
  .sub1{
      display: flex; 
      justify-content: center; 
      align-items: center; 
      /* background-color: red;  */
      padding-top: 30vh; 
      height: 20px;
      width: 80%; 
      margin: auto;
      margin-bottom: 20%;
  }
  .S3 .sub{
      display: flex;
      justify-content: center;
      align-items: center; 
      padding-top: 30vh; 
      height: 90px; 
      width: 80%; 
      margin: auto; 
      margin-top: 15%;
      margin-bottom: 50%;
  }
  .S5 .sub{
      display: flex;
      justify-content: center;
      align-items: center; 
      padding-top: 30vh; 
      height: 90px; 
      width: 80%; 
      margin: auto; 
      margin-top: 15%;
      margin-bottom: 50%;
  }
  .navbar .navbar-collapse{
      height: 50px;
  }
  .navb{
      width: 100%;
  }
    
    
}
@media (min-width:1400px){
    .wrapper{
        background-color:white;
        display: flex;
        justify-content: center;
        width: 70%;
        height: 100%;
        border-radius: 20px;

    }   
    .width-mod{
        width: 90%;
    }
}