  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
   }

   nav{
    height: 48px;
   }
   .logo{
    color:white; 
    font-size: 17px;
}
.personal .btn:focus{
  outline: none;
  box-shadow: none;
}
  .personal .btn:hover{
  color:white ;
}
  .personal .dropstart-toggle::after {
  content: none;
}
  .personal ul li{
  align-items: center;
  border-top:2px solid rgba(0,0,0,0.05);
  display: flex;
  justify-content: left;
  list-style: none;
  padding: 10px 0px;
}
  .personal ul li a{
  display: inline-block;
  color: #555;
  font-size: 14px;
  font-weight: 600;
  padding-left: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}
.personal ul li:hover a{
  color:#ff00ff;
}
.personal button{
  display:block;
  background-color: rgb(78, 78, 143);
}
.bg {
  background-color: rgb(83, 75, 75);
}
.req {
  color: red;
}
textarea{
  resize: none;
}
.width-mod{
  width: 75%;
}
.btn-mod{
  width: 40%;
}
.wrapper{
  background-color: white;
  display: flex;
  justify-content: center;
  width: 70%;
  height: 100vh;
  border-radius: 20px;
}
.body-font {
  color: white;
}
.submit-margin{
  margin-right: 50px;
}
footer{
  height: 100px;
}

@media(min-width:1440px){
  footer{
    height: 150px;
  }
  .wrapper{
    height: 60vh;
  }
  .submit-margin{
    margin-right: 150px;
  }
}
