body,html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    display:flex;
    align-items: center;
    justify-content: center; 
    background-color: rgb(83, 75, 75);
}


.box{
    background-color: white;
   border: 1px solid black;
    height: 300px; 
    width: 500px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.success-img{
    width: 70px;
    display: block;
    margin: auto;
}

.btn{
    width: 50%;
}