/* html{
    height: auto;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)),url(' ../img/faqsbg.jpg') center  no-repeat  ;
    background-size: cover;
   }
   nav{
    height: 48px;
   }
   .font-size {
    font-size: 70px;
  }
  .accordion-item {
    border: 1px solid
      rgba(rgb(155, 124, 124), rgb(112, 117, 112), rgb(91, 91, 95));
  }
  .accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }
  .font-size1 {
    font-size: 25px;
  }
  .hleft {
    display: inline-block;
  }
  .halone {
    position: relative;
    left: 20px; /* this will not work without setting position property */
    padding: 0;
    margin: 0;
    float: left;
  }
  .palone {
    padding: 0;
    margin: 0;
  
    text-align: right;
  }
  .accordion-body h1 {
    display: inline;
    vertical-align: top;
  
    font-size: 50px;
    line-height: 28px;
  }
  .accordion-body p {
    display: inline;
    vertical-align: top;
  
    font-size: 30px;
    line-height: 28px;
    overflow: none;
  }
  .width-mod{
      width: 50%;
  }
  .personal .btn:focus{
    outline: none;
    box-shadow: none;
}
.personal .btn:hover{
    color:white ;
}
.personal .dropstart-toggle::after {
    content: none;
}
.personal ul li{
    align-items: center;
    border-top:0px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 10px 0px;
}
.personal ul li a{
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}
.personal ul li:hover a{
color:#ff00ff;
}
.personal button{
    display: block;
    background-color: #555;
}
footer{
    height: 100px;
}

  @media (min-width:1400px){
    html,body{
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)),url(' ../img/faqsbg.jpg') center  no-repeat  ;
        background-size: 100%;
        
        
    
    }

  }
  @media (max-width:900px){
    html,body{
        width: 100%;
        height: auto;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)),url(' ../img/faqsbg.jpg') center  no-repeat  ;
        background-size: 100vw cover;
    
        
        
    
    }
    .width-mod{
        width: 100%;
    }
    .font-size {
        font-size: 20px;
      }
      .font-size1 {
        font-size: 16px;
      }
      
      .accordion-body h1 {
        display: inline;
        vertical-align: top left;
      
        font-size: 35px;
        line-height: 28px;
        
        
      }
      .accordion-body p {
        display: inline;
        vertical-align: top right;
      
        font-size: 30px;
        line-height: 28px;
        overflow: none;
      }

  }
  @media(min-width:1440px){
    .margin-big{
        margin-bottom:17%;
    }
    footer{
    margin-top: 200px;
      height: 120px;
    }
  }