html,body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    
   
   }
  
  
  .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: orange !important;
  }
  .pipe {
    color: white;
    border-right: 2px solid grey;
  }
  .line {
    border-top: 1px solid black;
  }
  .body-font {
    color: white;
  }
  .size{
    font-size: 10px;
  }
  .req {
    color: red;
  }
  .icon{
    width: 20px;
    /* height: 30px; */
  }
   
   .icon{
    width: 20px;
    /* height: 30px; */
  }
  .langsize{
    font-size: 10px;
  }
  .size{
    font-size: 10px;
  }
  .hand{
    width: 40px;
  }
  
  
  .message{
    width: 30px;
  }
  .fontsize {
    font-size: 50px;
    color: rgb(252, 249, 249);
  }
  
  .fontsizeSub {
    font-size: 30px;
    color: rgb(252, 249, 249);
  }
  .form-control {
    /* margin-left: 40px; */
    /* max-width: 80%; */
    border-color: black;
  }
  .leaf-bg{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url(' ../img/leaf.jpg') center top no-repeat;
    background-size: 100% 100%;
    /* background-image: url('../img/leaf.jpg') ; */
    /* width: 100vw;
    height: 100vh; */
  
  
  }
  .farmer-bg{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url(' ../img/farmer.jpg') center top no-repeat;
    background-size: 100% 100%;
    

}
.satellite-bg{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url(' ../img/satellite.jpg') center top no-repeat;
    background-size: 100% 100%;
    

}
  .S1 .btn-outline-brown:hover{
    background-color: black;
    
 }
  .S1 .btn{
    border: 8px solid rgb(156, 156, 156);
   
}
.search-height {
    height: 20vh
  }
  
  
  .search {
    position: relative;
    /* box-shadow: 0 0 40px rgba(51, 51, 51, .1) */
  }
  
  .search input {
    height: 60px;
    text-indent: 25px;
    /* border: 2px solid #d6d4d4 */
  }
  
  .search input:focus {
    box-shadow: none;
    border: 2px solid blue
  }
  
  .search .fa-search {
    position: absolute;
    top: 20px;
    right: 16px;
  }
  
  .search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue
  }
  .close{
    position: absolute;
    top: 0;
  }
  .S3 .btn{
    border: 8px solid rgb(156, 156, 156);
    border-radius: 0;
   
}
  .S3 .btn-outline-brown:hover{
   background-color: black;
   
}
.S5 .btn{
    border: 8px solid rgb(156, 156, 156);
    border-radius: 0;
   
}
  .S5 .btn-outline-brown:hover{
   background-color: black;
  }
  .sub{
    display: flex;
    justify-content: center;
    align-items: center; 
   
    height: 90px; 
    width: 80%; 
    margin: auto; 
    margin-top: 10%;
}
.sub1{
    display: flex; 
    justify-content: center; 
    align-items: center; 
  
    padding-top: 10vh; 
    height: 20px;
    width: 80%; 
    margin: auto;
}
.sub3{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: none; 
    height: 60px; 
    width: 80%; 
    margin: auto;
    margin-top: 5%;
}
 
.sub4{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: blue; 
    

    width: 80%; 
    margin: auto;
}
.S3 .sub{
    display: flex;
    justify-content: center;
    align-items: center; 
   
    height: 90px; 
    width: 80%; 
    margin: auto; 
    margin-top: 15%;
}
.S5 .sub{
    display: flex;
    justify-content: center;
    align-items: center; 
   
    height: 90px; 
    width: 80%; 
    margin: auto; 
    margin-top: 16%;
}
@media (max-width: 900){
    .sub{
        display: flex;
        justify-content: center;
        align-items: center; 
        background-color: none; 
        height: 90px; 
        width: 80%; 
        margin: auto; 
        margin-top: 20%;
    }
    .sub1{
        display: flex; 
        justify-content: center; 
        align-items: center; 
        /* background-color: red;  */
        padding-top: 30vh; 
        height: 20px;
        width: 80%; 
        margin: auto;
        margin-bottom: 20%;
    }
    .S3 .sub{
        display: flex;
        justify-content: center;
        align-items: center; 
        padding-top: 30vh; 
        height: 90px; 
        width: 80%; 
        margin: auto; 
        margin-top: 15%;
        margin-bottom: 50%;
    }
    .S5 .sub{
        display: flex;
        justify-content: center;
        align-items: center; 
        padding-top: 30vh; 
        height: 90px; 
        width: 80%; 
        margin: auto; 
        margin-top: 15%;
        margin-bottom: 50%;
    }
    .navbar .navbar-collapse{
        height: 50px;
    }
    .navb{
        width: 100%;
    }
}
@media (min-width: 1400){
    .marmod{
        padding-top: 500px;
    }
}