.profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* background: #512DA8; */
    background: red;
    font-size: 35px;
    color: #fff;
    text-align: center;
    line-height: 150px;
    margin: auto;
    /* margin: 20px 0; */
  }